<div class='row'>
	<div class='small-12 columns'>
		<h1 class='centered'>
			MS Genetics Research Group Timeline
		</h1>
	</div>
	<div class='small-12 columns'>
		<div id='time_line'>
			<script>
				$(document).ready(function() {
			    createStoryJS({
			      type: 'timeline',
			      width: '100%',
			      height: '500',
			      source: 'events.json',
			      embed_id: 'time_line'
			    });
			  });
			</script>
	</div>
</div>